#fademe-footer{
    opacity:0;
    transition: 1s;
  }
.footer-container{
    display: flex;
    justify-content: center;
/*     background-color: #8D22DC; */
    color: transparent;
    margin: 5px;
    border-radius: 10px;
}
